.App {
  text-align: center;

}
.textAlignCenter {
  text-align: center;
}
.todoModal {
  text-align: left;
  border-radius: 12px;
  background: white;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 500px;
  height: 360px;
  margin: 10% auto auto;
}
.todoItem {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  margin: 20px auto auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}
.inputTitle {
  font-size: 25px;
}

.taskTitleInput {
  overflow: hidden;
  resize: none;
  width: 100%;
  height: 35px;
  padding: 5px;
}

.taskDescriptionInput {
  resize: none;
  text-align: left;
  width: 100%;
  height: 80px;
  padding: 5px;
}

.modalButton, .submitButton {
  position: sticky;
  top: -36px;
}

.modalButtons {
  margin-left: auto;
  width: 300px;
  text-align: right;
}

.todoSelect {
  height: 35px;
  width: 100%;
}

.modalTitle {
  margin-bottom: 10px;
}
