{% extends 'base/main.html' %}
{% block content %}
<div class="header-bar" style="height:50px; padding: 0;">
    <a href="{% url 'tasks' %}" class="fas fa-chevron-left"></a>
    <h4 style="padding-left: 50px; padding-right: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{task}}</h4>
</div>
<div style="padding-bottom: 10px; padding-left: 10px;">
<form method="POST">
    {% csrf_token %}
    <small style="font-size: 18px; display: block; padding-top: 5px">Are you sure you want to delete this task?</small>
    <br>
    <button type="submit" class="submit_btn">
      <i class="fas fa-check"></i>
    </button>

</form>
</div>
{% endblock content %}