body {
    font-family: Arial, serif;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ebeff5;
}
.container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    position: relative;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.header-bar {
    color: white;
    margin-top: 0;
    padding-top: 10px;
    height: 65px;
    background: linear-gradient(206deg, rgba(141,141,237,1) 2%, rgba(0,212,255,1) 100%);
    border-radius: 5px;
}
h1 {
    font-size: 30px;
    margin: 0 0 10px 10px;
    font-weight: normal;
}
h2 {
    font-size: 16px;
    display:block;
    margin-top: -2px;
    margin-left: 10px;
    font-weight: normal;
}
h3 {
    padding-bottom: 15px;
    text-align: center;
}
h4 {
    font-weight: normal;
    padding-top: 8px;
    font-size: 30px;
    text-align: center;
}
.logout {
    position: absolute;
    top: 8px;
    right: 8px;
    text-decoration: none;
    color: white;
}
.search {
    position: relative;
    top: 4px;
    right: -8px;
    height: 20px;
    border-width: 1px;
    border-radius: 5px;
}

.line {
    position: relative;
    top: 8px;
    height: 3px;
    background: linear-gradient(206deg, rgba(141,141,237,1) 2%, rgba(0,212,255,1) 100%);
    border-width: 0;
    margin-bottom: 32px;
}
.line1 {
    display: block;
    position: relative;
    top: -21px;
    left: 25px;
    height: 3px;
    background: linear-gradient(206deg, rgba(141,141,237,1) 2%, rgba(0,212,255,1) 100%);
    width: 350px;
    border-width: 0;
    margin-bottom: 3px;
}
.fa-plus {
    height: 26px;
    position: absolute;
    top: 84px;
    right: 10px;
    text-decoration: none;
    color: #8d8ded;
    font-size: 30px;
}
.fa-search {
    font-size: 26px;
    color: #5aa7f3;
    border-width: 0;
    background-color: white;
    cursor: pointer;
}
.fa-pen {
    position: relative;
    top: -36px;
    left: 330px;
    font-size: 25px;
    color: #7898f0;
    display: inline-block;
    text-decoration: none;
    margin: 0;
}
.fa-trash {
    position: relative;
    bottom: 36px;
    left: 338px;
    font-size: 25px;
    color: #8d8ded;
    text-decoration: none;
    margin: 0;
}
.fa-chevron-left {
    position: absolute;
    top: 13px;
    left: 10px;
    text-decoration: none;
    font-size: 25px;
    color: white;
}
.btn {
    padding: 1px;
    position: relative;
    top: 10px;
    left: 10px;
    height: 26px;
    width: 26px;
    border-width: 0;
    background: white;
}
.task {
    width: 380px;
    height: 60px;
    text-align: left;
    padding-top: 7px;
    padding-left: 18px;
    font-size: 28px;
    background: white;
    cursor: pointer;
    border-width: 0;
    margin-top: -30px;
    margin-bottom: -4px;
    padding-right: 60px;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.submit_btn {
    position: absolute;
    border-color: #8d8ded;
    border-radius: 5px;
    right: 10px;
    bottom: 4px;
    color: white;
    background: #8d8ded;
}

@media (max-width: 1000px) {
    .container{
        margin-top: 0;
        height:90%;
    }
    h1 {
        margin: 0 0 5px 8px;
    }
    h2 {
        margin-left: 8px;
    }
    h3 {
        padding: 0;
    }
    h4 {
        padding-top: 7px;
    }
}
