{% extends 'base/main.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoApp</title>
</head>
<body>
{% if request.user.is_authenticated %}
<div class="header-bar">
    <div>
            <h1>Hello, {{ request.user }}!</h1>
            <a href="{% url 'logout' %}" class="logout">Logout</a>
            <h2>You have {{ count }} incompleted task{{ count|pluralize:"s" }}</h2>
    </div>
</div>
{% endif %}
<a href="{% url 'task-create' %}" class="add_task">+</a>

<form method="GET">
    <input type="text" name="search-area" class="search">
    <button value="Search" class="btn"><i class="fas fa-search"></i></button>
    <hr class ="line">
</form>
    {% for task in tasks %}
        {% if task.complete %}
            <a href="{% url 'task' task.id %}"><button class="task"><s>{{task.title}}</s></button></a>
            <a href="{% url 'task-update' task.id %}" class="fas fa-pen"></a>
            <a href="{% url 'task-delete' task.id %}" class="fas fa-trash"></a>
            <div class="line1"></div>
        {% else %}
            <a href="{% url 'task' task.id %}"><button class="task">{{task.title}}</button></a>
            <a href="{% url 'task-update' task.id %}" class="fas fa-pen"></a>
            <a href="{% url 'task-delete' task.id %}" class="fas fa-trash"></a>
            <div class="line1"></div>
        {% endif %}
    {% empty %}
        <h3>No <a href="{% url 'task-create' %}" style="text-decoration: none; color: #5aa7f3;">tasks</a> in list.</h3>
    {% endfor %}

</body>
</html>

{% endblock content %}